<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/add" method="POST">
      <label for="characterName"> Name: </label>
      <input
        type="text"
        name="characterName"
        id="characterName"
        required
      /><br />

      <label for="categoryName">Choose a category:</label>
      <select id="categoryName" name="categoryName">
        <% categories.forEach(category =>{%>
        <option value="<%= category.categoryname %>">
          <%= category.categoryname %>
        </option>
        <% }) %>
      </select>
      <br />

      <label for="factionName">Choose a faction:</label>
      <select id="factionName" name="factionName">
        <% factions.forEach(faction =>{%>
        <option value="<%= faction.factionname %>">
          <%= faction.factionname %>
        </option>
        <% }) %>
      </select>
      <br />

      <button type="add">Add Character</button>
    </form>
    <br />
    <a href="/">Back to home</a>
  </body>
</html>
